*{
	margin: 0;
	padding: 0;
}


body{
	font-family: helvetica,arial;
	font-size: 16px;
	color: #333;
}


header{

	height: 90px;
	background-color: #262626;
	
}

.logo {
	width: 150px;
	height: 74px;
	margin-top: 10px;
}



footer{
	height: 50px;
	background-color: #44b874;
	padding: 10px 0;
	color: #f4f4f4;
	text-align: center;
	font-size: 13px;

}

#deletar{ 
	color: tomato !important; 
}

#formularioCadastro {
            display: none;
        }


/*
.container {
	margin: 0 auto;
	width: 1280px;

}*/


#conteudo{
	padding: 100px 0;
}

#menu{
	float: right;
	padding: 30px 0;

}

#menu a{
	text-decoration: none;
	padding: 33px 30px;
	color: #e3e3e3;
	text-shadow: 1px 1px 1px #111;
	font-size: 20px;
}

#menu a:hover{
	background-color: #44b874;
	font-weight: bold;
}


.password-container {
            position: relative; /* Define o contexto de posicionamento */
        }

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Estilo para o campo de senha */
#senha {
    padding-right: 30px; /* Espaço para o ícone */
}

.perfil{
display: flex; 
justify-content: center; 
align-items: center;

}

.itemPerfil{
	font-weight: bold;
}

.img-avatar{
	display: block;
	margin: 10px auto;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	

	
}